/katsdpimager.egg-info
/katsdpimager/_preprocess*.so
/katsdpimager/_nvtx*.so
*.fits
*.ms
*.pyc
*.lsm.html
/build
/dist
/wheelhouse
/pip-wheel-metadata
/doc/_build
/tests/report
.coverage
nosetests.xml
