alabaster
babel
certifi
chardet
docutils
idna
imagesize
jinja2
markupsafe
packaging
pygments
pyparsing
pytz
requests
six
snowballstemmer
sphinx-rtd-theme
sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinxcontrib-tikz==0.4.8
sphinxcontrib-websupport
urllib3
