aplpy==1.1.1
astLib==0.8.0
astro-kittens==0.3.3
astro-tigger==1.3.3
astropy==1.3.0            # via aplpy
cycler                    # via matplotlib
mako
markupsafe                # via mako
matplotlib
numpy                     # via astropy, matplotlib
pyfits==3.3               # must be less than 3.4 for tigger-convert to work
pyparsing                 # via matplotlib
python-dateutil           # via matplotlib
pytz                      # via matplotlib
ruamel.ordereddict==0.4.9
ruamel.yaml==0.13.4
six                       # via cycler, python-dateutil
vext==0.6.7
vext.pyqt4==0.5.20
