ansicolors
appdirs
astropy==1.0.6
Cython
decorator
enum34
funcsigs
futures
h5py
linecache2
llvmlite
Mako
MarkupSafe
mock
nose
numba==0.22.1; platform_machine == 'x86_64'
numpy
pbr
pkginfo
progress==1.2
py
pycuda
pytest
python-casacore
pytools
scikit-cuda
scipy
singledispatch
six
git+ssh://git@github.com/ska-sa/katsdpsigproc#egg=katsdpsigproc
git+ssh://git@github.com/ska-sa/katversion
traceback2
unittest2
