ansicolors
appdirs
astropy==1.3
Cython
decorator
enum34
funcsigs
futures
h5py
katversion
linecache2
llvmlite
Mako
MarkupSafe
mock
nose
numba==0.29.0; platform_machine == 'x86_64'
numpy
pbr
pkgconfig==1.1.0
pkginfo
progress==1.2
py
pycuda
pytest
python-casacore
pytools
scikit-cuda
scipy
singledispatch
six
git+ssh://git@github.com/ska-sa/katsdpsigproc#egg=katsdpsigproc
traceback2
trollius
unittest2
