# Extra requirements/version pins for readthedocs.org
# These are needed because readthedocs doesn't install requirements.txt
# (and it can't, because things like pycuda won't install).
astropy
h5py
katdal
katsdpsigproc @ git+https://github.com/ska-sa/katsdpsigproc
nose
numpy
progress
python-casacore
scipy

# Pin version of sphinx
sphinx==1.8.*
